*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #212eda;
}

#header-site{
    background-color: #6b1b1b;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 60px;
    justify-content: space-between;
}

#header-site #img-header{
    width: 100px;
    height: 100px;
}

#header-site #img-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#header-site #nav-header{
    height: 40px;
    padding: 5px 0;
    position: relative;
}

#header-site #nav-header #box-btn-hamburguer{
    display: none;
}

#header-site #nav-header #box-btn-hamburguer #btn-hamburguer{
    background: transparent;
    border: none;
}

#header-site #nav-header #box-btn-hamburguer div{
    height: 5px;
    width: 40px;
    background-color: rgb(60, 134, 109);
    margin-bottom: 5px;
}

#header-site #nav-header ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

#header-site #nav-header ul .item-nav-header{
    height: 100%;
}

#header-site #nav-header ul .item-nav-header a{
    padding: 8px 16px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fffd6d
}

#header-site #nav-header ul .item-nav-header a:hover{
    border-bottom: 1px solid rgb(255, 255, 255)
}

@media (max-width: 525px) {
    #header-site #nav-header{
        height: auto;
    }
    #header-site #nav-header #box-btn-hamburguer{
        display: block;
    }
    #header-site #nav-header ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgb(0, 3, 201);
        height: fit-content;
    }
    #header-site #nav-header ul.ativo{
        display: block;
    }
}